In [1]:
import pandas as pd
import numpy as np

/var/folders/pl/z72m_lzx4_d8qgb1jjgg6tgc0000gn/T/ipykernel_84518/2162656668.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

## Cleaning the Data

In [2]:
books_data1 = pd.read_csv('data/books_data.csv')
print(f"Total Books: {books_data1.shape[0]}")

Total Books: 212404

In [3]:
# Dropping uninformative columns
books_data = books_data1.drop(["image","previewLink","infoLink"], axis = 1)

# Removing books with no description and no ratings.
books_data = books_data[books_data["description"].isna() == False]
books_data = books_data[books_data["ratingsCount"].isna() == False]

print(f'Books Remaining: {books_data.shape[0]}')

Books Remaining: 45127

In [4]:

books_data = books_data[books_data["ratingsCount"] > 10]
print(f'Books Remaining: {books_data.shape[0]}')
books_data.head()

Books Remaining: 6424

,Title,description,authors,publisher,publishedDate,categories,ratingsCount
73,Night World: Daughters Of Darkness,"""There’s something strange about the new girls...",['L.J. Smith'],Simon and Schuster,2016-12-06,['Juvenile Fiction'],11.0
111,The Rabbi's Cat,Gaining the ability to speak after swallowing ...,['Joann Sfar'],Pantheon,2005,['Comics & Graphic Novels'],25.0
115,From Potter's Field,"The sixth book in the Kay Scarpetta series, fr...",['Patricia Cornwell'],Hachette UK,2008-09-04,['Fiction'],19.0
122,Economics in one lesson,"With over a million copies sold, Economics in ...",['Henry Hazlitt'],Currency,2010-08-11,['Business & Economics'],18.0
225,Plain And Simple - A Woman's Journey To The Amish,"""I had an obsession with the Amish. Plan and s...",['Sue Bender'],Harper Collins,2009-03-17,['Religion'],11.0

In [5]:
books_data.to_csv("cleaned_data/cleaned_book_data.csv")

pd.

## Ratings

In [6]:
selected_books = books_data["Title"].unique()

In [7]:
ratings_data = pd.read_csv('data/Books_rating.csv')

In [8]:
print(f"Total Reviews: {ratings_data.shape[0]}")

Total Reviews: 3000000

In [9]:
ratings_data.drop(["Id","User_id","profileName","review/time"], axis = 1)

,Title,Price,review/helpfulness,review/score,review/summary,review/text
0,Its Only Art If Its Well Hung!,NaN,7/7,4.0,Nice collection of Julie Strain images,This is only for Julie Strain fans. It's a col...
1,Dr. Seuss: American Icon,NaN,10/10,5.0,Really Enjoyed It,I don't care much for Dr. Seuss but after read...
2,Dr. Seuss: American Icon,NaN,10/11,5.0,Essential for every personal and Public Library,"If people become the books they read and if ""t..."
3,Dr. Seuss: American Icon,NaN,7/7,4.0,Phlip Nel gives silly Seuss a serious treatment,"Theodore Seuss Geisel (1904-1991), aka &quot;D..."
4,Dr. Seuss: American Icon,NaN,3/3,4.0,Good academic overview,Philip Nel - Dr. Seuss: American IconThis is b...
...,...,...,...,...,...,...
2999995,The Idea of History,NaN,14/19,4.0,Difficult,"This is an extremely difficult book to digest,..."
2999996,The Idea of History,NaN,1/1,4.0,Quite good and ahead of its time occasionally,This is pretty interesting. Collingwood seems ...
2999997,The Idea of History,NaN,0/0,4.0,Easier reads of those not well versed in histo...,"This is a good book but very esoteric. ""What i..."
2999998,The Idea of History,NaN,1/11,5.0,"Yes, it is cheaper than the University Bookstore","My daughter, a freshman at Indiana University,..."
2999999,The Idea of History,NaN,7/49,1.0,Collingwood's ideas sink in a quagmire or verb...,"The guy has a few good ideas but, reader, bewa..."

In [10]:
selected_books = books_data["Title"].unique()